.zgo-col-5 {
	/* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (5 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (5 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (5 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (5 / $col-num);
        padding : $gutter-size-tv;
    } 
}