.zgo-col-2 {
    /* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (2 / $col-num);
        padding : $gutter-size-tablet;
        @for $i from 0 through ($col-num / 2) - 1 {
            &:nth-of-type(#{$i + 1}) {
                &:nth-last-of-type(#{($col-num / 2) - $i}) {
                    width : $full * (4 / $col-num);
                }
            }
        }
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (2 / $col-num);
        padding : $gutter-size-laptop;
        @for $i from 0 through ($col-num / 2) - 1 {
            &:nth-of-type(#{$i + 1}) {
                &:nth-last-of-type(#{($col-num / 2) - $i}) {
                    @if $i == 4 {
                        width : $half;
                    } @else if $i == 5 {
                        width : $half;
                    } @else {
                        width : $full * (3 / $col-num); 
                    }   
                }
            }
        }
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (2 / $col-num);
        padding : $gutter-size-desktop;
        @for $i from 0 through ($col-num / 2) - 1 {
            &:nth-of-type(#{$i + 1}) {
                &:nth-last-of-type(#{($col-num / 2) - $i}) {
                    width : $full * (2 / $col-num);
                }
            }
        }
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (2 / $col-num);
        padding : $gutter-size-tv;
    }
}