
/* **************************************************************************************
 *                                                                                      *
 *  				   --------------------------------------------                     *
 *  				   --- The Ubiquitous ZalgoSass Grid System ---                     *
 *  				   --------------------------------------------                     *
 *                                                                                      *
 *        gutter    gutter     gutter     gutter     gutter     gutter     gutter       *
 *             |         |          |          |          |          |          |       *
 *     	       |         |          |          |          |          |          |       *
 *    |--------|---------|----------|----------|----------|----------|----------|----|  *
 *    |        v         v          v  --GRID-CONTAINER-- v          v          v    |  *
 *  gutter -> +--+------+--+-------+--+-------+--+-------+--+-------+--+-------+--+  |  *
 *    |       +--+------+--+-------+--+-------+--+-------+--+-------+--+-------+--+  |  *
 *    |	      |  |	    |  |       |  |	      |  |       |  |       |  |       |  |  |  *
 *  ROW -->   |  |	    |  |       |  |	      |  |       |  |       |  |       |  |  |  *
 *    |	      |  |	    |  |       |  |	      |  |       |  |       |  |       |  |  |  *
 *    |	      |  |	    |  |       |  |	      |  |       |  |       |  |       |  |  |  *
 *  gutter -> +--+------+--+-------+--+-------+--+-------+--+-------+--+-------+--+  |  *
 *    |       +--+------+--+-------+--+-------+--+-------+--+-------+--+-------+--+  |  *
 *    |                         ( ROW MARGIN - top & bottom )                        |  *
 *  gutter -> +--+------+--+-------+--+-------+--+-------+--+-------+--+-------+--+  |  *
 *    |       +--+------+--+-------+--+-------+--+-------+--+-------+--+-------+--+  |  *
 *    |	      |  |      |  |       |  |       |  |       |  |       |  |       |  |  |  *
 *  ROW -->   |  |      |  |       |  |       |  |       |  |       |  |       |  |  |  *
 *    |	      |  |      |  |       |  |       |  |       |  |       |  |       |  |  |  *
 *    |	      |  |      |  |       |  |       |  |       |  |       |  |       |  |  |  *
 *  gutter -> +--+------+--+-------+--+-------+--+-------+--+-------+--+-------+--+  |  *
 *    |       +--+------+--+-------+--+-------+--+-------+--+-------+--+-------+--+  |  *
 *    |           ^          ^      --GRID-CONTAINER--        ^          ^           |  *
 *    |-----------|----------|----------|----------|----------|----------|-----------|  *
 *                |          |          |          |          |          |              *
 *                |          |          |		   |		  |          |              *
 *           COLUMN     COLUMN     COLUMN     COLUMN     COLUMN     COLUMN              *
 *                                                                                      *
 *  - NOTE :                                                                            *
 *                                                                                      *
 * 		gutter == column padding                                                        *
 *                                                                                      *
 * ************************************************************************************ */



/* ***************************************************************************************
                                  ZALGO Grid Variables 
*************************************************************************************** */

$col-num   : 12;
$max-width : 1980px;

$full    : 99.99%;
$half    : 49.99%;
$third   : 33.33%;
$fourth  : 24.99%;
$fifth   : 19.99%;
$sixth   : 16.66%;
$eighth  : 12.49%;
$tenth   :  9.99%;

$gutter-size-phone   : 0.4em;
$gutter-size-tablet  : 0.5em;
$gutter-size-laptop  : 0.6em;
$gutter-size-desktop : 0.8em;
$gutter-size-tv      : 1.0em;


/* ***************************************************************************************
                                  ZALGO Grid Container 
*************************************************************************************** */

.zgo-grid-container {
    width     : $full;
    max-width : $max-width; 
}
.zgo-grid-container * {
	transition : height, width .4s ease-in-out;
    box-sizing : border-box; 
}


/* ***************************************************************************************
                                    ZALGO Grid Rows 
*************************************************************************************** */

/* ZalgoSass - use clearfix hack */ 
.zgo-row:before, 
.zgo-row:after {
    content : " ";
    display : table;
    clear   : both;
}
.zgo-row {
	overflow : hidden;
}

/* ***************************************************************************************
                                   ZALGO Grid Columns 
*************************************************************************************** */

/* ***************************************************************************************
	- COLUMN POSITIONING
*/

 /* phone */
[class*='zgo-col-'] {
	width      : $full;
    min-height : 1px;
    float      : left;
    clear      : none;
    padding    : $gutter-size-phone;
    margin     : 0;
    wrap       : none;
}

/* ***************************************************************************************
	- COLUMN WIDTHS -  static sizing ( padding must be added separately )
*/

.zgo-col-full   { width: $full;   }
.zgo-col-half   { width: $half;   }
.zgo-col-third  { width: $third;  }
.zgo-col-fourth { width: $fourth; }
.zgo-col-fifth  { width: $fifth;  }
.zgo-col-sixth  { width: $sixth;  }
.zgo-col-eighth { width: $eighth; }
.zgo-col-tenth  { width: $tenth;  }


/* ***************************************************************************************
	- COLUMN WIDTHS - responsive non-static sizing
*/

.zgo-col-1 {
	/* tablet */
    @media only screen and (min-width : 600px) {
    	width   : $full * (1 / $col-num);
        padding : $gutter-size-tablet;
        + .zgo-col-1 + .zgo-col-1 {
            width : $full * (2 / $col-num);
        }
        &:first-of-type {
            &:nth-last-child(12) {
                width : $full * (2 / $col-num);
            }
        }
        &:nth-of-type(2) {
            &:nth-last-child(11) {
                width : $full * (2 / $col-num);
            }
        } 
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
    	width   : $full * (1 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (1 / $col-num);
        padding : $gutter-size-desktop;
        + .zgo-col-1 + .zgo-col-1 {
            width : $full * (1 / $col-num);
        }
        &:first-of-type {
            &:nth-last-child(12) {
                width : $full * (1 / $col-num);
            }
        }
        &:nth-of-type(2) {
            &:nth-last-child(11) {
                width : $full * (1 / $col-num);
            }
        }
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (1 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-2 {
    /* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (2 / $col-num);
        padding : $gutter-size-tablet;
        + .zgo-col-2 + .zgo-col-2 {
            width : $full * (4 / $col-num);
        }
        &:first-of-type {
            &:nth-last-child(6) {
                width : $full * (4 / $col-num);
            }
        }
        &:nth-of-type(2) {
            &:nth-last-child(5) {
                width : $full * (4 / $col-num);
            }
        }
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (2 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (2 / $col-num);
        padding : $gutter-size-desktop;
        + .zgo-col-2 + .zgo-col-2 {
            width : $full * (2 / $col-num);
        }
        &:first-of-type {
            &:nth-last-child(6) {
                width : $full * (2 / $col-num);
            }
        }
        &:nth-of-type(2) {
            &:nth-last-child(5) {
                width : $full * (2 / $col-num);
            }
        }
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (2 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-3 {
    /* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (3 / $col-num);
        padding : $gutter-size-tablet;
        + .zgo-col-3 + .zgo-col-3 {
            width : $full * (6 / $col-num);
        }
        &:first-of-type {
            &:nth-last-child(4) {
                width : $full * (6 / $col-num);
            }
        }
        &:nth-of-type(2) {
            &:nth-last-child(3) {
                width : $full * (6 / $col-num);
            }
        }
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (3 / $col-num);
        padding : $gutter-size-laptop;
        + .zgo-col-3 + .zgo-col-3 {
            width : $full * (3 / $col-num);
        }
        &:first-of-type {
            &:nth-last-child(4) {
                width : $full * (3 / $col-num);
            }
        }
        &:nth-of-type(2) {
            &:nth-last-child(3) {
                width : $full * (3 / $col-num);
            }
        }
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (3 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (3 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-4 {
    /* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (4 / $col-num);
        padding : $gutter-size-tablet;
        + .zgo-col-4 {
            width : $full * (6 / $col-num);
        }
        &:first-of-type {
            &:nth-last-child(3) {
                width : $full * (6 / $col-num);
            }
        }
        &:last-of-type {
            &:nth-child(3) {
                width : $full;
            }
        }
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (4 / $col-num);
        padding : $gutter-size-laptop;
        + .zgo-col-4 {
            width : $full * (4 / $col-num);
        }
        &:first-of-type {
            &:nth-last-child(3) {
                width : $full * (4 / $col-num);
            }
        }
        &:last-of-type {
            &:nth-last-child(1) {
                width : $full * (4 / $col-num);
            }
        }
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (4 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (4 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-5 {
	/* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (5 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (5 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (5 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (5 / $col-num);
        padding : $gutter-size-tv;
    } 
}
.zgo-col-6 { 
    /* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (12 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (6 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (6 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (6 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-7 {
	/* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (7 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (7 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (7 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (7 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-8 {
    /* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (8 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (8 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (8 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (8 / $col-num);
        padding : $gutter-size-tv;
    } 
}
.zgo-col-9 {
	/* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (9 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (9 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (9 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (9 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-10 {
/* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (10 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (10 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (10 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (10 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-11 {
	/* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (11 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (11 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (11 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (11 / $col-num);
        padding : $gutter-size-tv;
    }
}
.zgo-col-12 {
	/* tablet */
    @media only screen and (min-width : 600px) {
        width   : $full * (12 / $col-num);
        padding : $gutter-size-tablet;
    }
    /* small screen */
    @media only screen and (min-width : 768px) {
        width   : $full * (12 / $col-num);
        padding : $gutter-size-laptop;
    }
    /* medium screen */
    @media only screen and (min-width : 1024px) {
        width   : $full * (12 / $col-num);
        padding : $gutter-size-desktop;
    }
    /* large screen */
    @media only screen and (min-width : 1280px) {
        width   : $full * (12 / $col-num);
        padding : $gutter-size-tv;
    }
}


/* ***************************************************************************************
                               ZALGO Responsive Fixes 
*************************************************************************************** */

/* 
	NOTE: 

		-- phones (1 column grid system -> all columns == 100%)

		-- tablets (6 column grid system)	-- desktops & tv's -> (12 column grid system)
			zgo-col-1    ->   16.66666%			zgo-col-1    ->    8.33333%
			zgo-col-2    ->   24.99999%			zgo-col-2    ->   16.66666%
			zgo-col-3    ->   33.33333%			zgo-col-3    ->   25%
			zgo-col-4    ->   49.99999%			zgo-col-4    ->   33.33333%
			zgo-col-5    ->   100%		    	zgo-col-5    ->   41.66666%
			zgo-col-6    ->   100%		    	zgo-col-6    ->   50%
			zgo-col-7    ->   100%		    	zgo-col-7    ->   58.33333%
			zgo-col-8    ->   100%				zgo-col-8    ->   66.66666%
			zgo-col-9    ->   100%				zgo-col-9    ->   75%
			zgo-col-10   ->   100%				zgo-col-10   ->   83.33333%
			zgo-col-11   ->   100%				zgo-col-11   ->   91.66666%
			zgo-col-12   ->   100%				zgo-col-12   ->   100%			
*/

/* ***************************************************************************************
                                   ZALGO Grid EOF 
*************************************************************************************** */
